In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import pickle

pd.set_option('display.max_columns', None)

In [4]:
# Define function to read the pickle that was written so that the object can be accessed upon kernel restart

def read_pickle(path, saved_object_name:str):
    '''
    In: 
        path:             path to folder where you want to read from
        saved_object_name: filename of pickled object you want to read in

    Out: 
        object: the pickled object
    '''
    with open(path + saved_object_name + '.pickle', 'rb') as to_read:
        object = pickle.load(to_read)

    return object

In [5]:
# Define file path for the pickle

path = '/Users/chris/Desktop/Certs/Google Data Analytics Cert/Case Study 1 Cyclistic'

In [6]:
# Read pickle

df1 = read_pickle(path, 'df1')

In [5]:
df1.head()

,ride_id,rideable_type,start_date,end_date,weekday,weekend,start_time,end_time,time_of_day,duration,start_station_name,start_station_id,end_station_name,end_station_id,start_end_name,start_end_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_lat_lng,end_lat_lng,avg_end_lat,avg_end_lng,avg_start_lat,avg_start_lng
0,8FE8F7D9C10E88C7,electric_bike,2023-04-02,2023-04-02,Sunday,1,1900-01-01 08:37:28,1900-01-01 08:41:37,mid morning,4.150000,nan,nan,nan,nan,nan nan,nan nan,41.80,-87.60,41.79,-87.60,member,41.8 -87.6,41.79 -87.6,41.79,-87.60,41.80,-87.60
1,34E4ED3ADF1D821B,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 11:29:02,1900-01-01 11:52:12,late morning,23.166667,nan,nan,nan,nan,nan nan,nan nan,41.87,-87.65,41.93,-87.68,member,41.87 -87.65,41.93 -87.68,41.93,-87.68,41.87,-87.65
2,5296BF07A2F77CB5,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 08:41:22,1900-01-01 08:43:22,mid morning,2.000000,nan,nan,nan,nan,nan nan,nan nan,41.93,-87.66,41.93,-87.66,member,41.93 -87.66,41.93 -87.66,41.93,-87.66,41.93,-87.66
3,40759916B76D5D52,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 13:31:30,1900-01-01 13:35:09,afternoon,3.650000,W Armitage Ave & N Sheffield Ave,20254.0,nan,nan,W Armitage Ave & N Sheffield Ave nan,20254.0 nan,41.92,-87.65,41.91,-87.65,member,41.92 -87.65,41.91 -87.65,41.91,-87.65,41.92,-87.65
4,77A96F460101AC63,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 12:05:36,1900-01-01 12:10:26,afternoon,4.833333,nan,nan,nan,nan,nan nan,nan nan,41.91,-87.65,41.91,-87.63,member,41.91 -87.65,41.91 -87.63,41.91,-87.63,41.91,-87.65

In [7]:
df1_duplicated = df1.loc[df1.index.repeat(2),:].reset_index(drop=True)

df1_duplicated.head(10)

,ride_id,rideable_type,start_date,end_date,weekday,weekend,start_time,end_time,time_of_day,duration,start_station_name,start_station_id,end_station_name,end_station_id,start_end_name,start_end_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_lat_lng,end_lat_lng,avg_end_lat,avg_end_lng,avg_start_lat,avg_start_lng
0,8FE8F7D9C10E88C7,electric_bike,2023-04-02,2023-04-02,Sunday,1,1900-01-01 08:37:28,1900-01-01 08:41:37,mid morning,4.150000,nan,nan,nan,nan,nan nan,nan nan,41.80,-87.60,41.79,-87.60,member,41.8 -87.6,41.79 -87.6,41.79,-87.60,41.80,-87.60
1,8FE8F7D9C10E88C7,electric_bike,2023-04-02,2023-04-02,Sunday,1,1900-01-01 08:37:28,1900-01-01 08:41:37,mid morning,4.150000,nan,nan,nan,nan,nan nan,nan nan,41.80,-87.60,41.79,-87.60,member,41.8 -87.6,41.79 -87.6,41.79,-87.60,41.80,-87.60
2,34E4ED3ADF1D821B,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 11:29:02,1900-01-01 11:52:12,late morning,23.166667,nan,nan,nan,nan,nan nan,nan nan,41.87,-87.65,41.93,-87.68,member,41.87 -87.65,41.93 -87.68,41.93,-87.68,41.87,-87.65
3,34E4ED3ADF1D821B,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 11:29:02,1900-01-01 11:52:12,late morning,23.166667,nan,nan,nan,nan,nan nan,nan nan,41.87,-87.65,41.93,-87.68,member,41.87 -87.65,41.93 -87.68,41.93,-87.68,41.87,-87.65
4,5296BF07A2F77CB5,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 08:41:22,1900-01-01 08:43:22,mid morning,2.000000,nan,nan,nan,nan,nan nan,nan nan,41.93,-87.66,41.93,-87.66,member,41.93 -87.66,41.93 -87.66,41.93,-87.66,41.93,-87.66
5,5296BF07A2F77CB5,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 08:41:22,1900-01-01 08:43:22,mid morning,2.000000,nan,nan,nan,nan,nan nan,nan nan,41.93,-87.66,41.93,-87.66,member,41.93 -87.66,41.93 -87.66,41.93,-87.66,41.93,-87.66
6,40759916B76D5D52,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 13:31:30,1900-01-01 13:35:09,afternoon,3.650000,W Armitage Ave & N Sheffield Ave,20254.0,nan,nan,W Armitage Ave & N Sheffield Ave nan,20254.0 nan,41.92,-87.65,41.91,-87.65,member,41.92 -87.65,41.91 -87.65,41.91,-87.65,41.92,-87.65
7,40759916B76D5D52,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 13:31:30,1900-01-01 13:35:09,afternoon,3.650000,W Armitage Ave & N Sheffield Ave,20254.0,nan,nan,W Armitage Ave & N Sheffield Ave nan,20254.0 nan,41.92,-87.65,41.91,-87.65,member,41.92 -87.65,41.91 -87.65,41.91,-87.65,41.92,-87.65
8,77A96F460101AC63,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 12:05:36,1900-01-01 12:10:26,afternoon,4.833333,nan,nan,nan,nan,nan nan,nan nan,41.91,-87.65,41.91,-87.63,member,41.91 -87.65,41.91 -87.63,41.91,-87.63,41.91,-87.65
9,77A96F460101AC63,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 12:05:36,1900-01-01 12:10:26,afternoon,4.833333,nan,nan,nan,nan,nan nan,nan nan,41.91,-87.65,41.91,-87.63,member,41.91 -87.65,41.91 -87.63,41.91,-87.63,41.91,-87.65

In [8]:
df1_duplicated['start_end'] = np.where(df1_duplicated.index % 2, 'end', 'start')

df1_duplicated.head(10)

,ride_id,rideable_type,start_date,end_date,weekday,weekend,start_time,end_time,time_of_day,duration,start_station_name,start_station_id,end_station_name,end_station_id,start_end_name,start_end_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_lat_lng,end_lat_lng,avg_end_lat,avg_end_lng,avg_start_lat,avg_start_lng,start_end
0,8FE8F7D9C10E88C7,electric_bike,2023-04-02,2023-04-02,Sunday,1,1900-01-01 08:37:28,1900-01-01 08:41:37,mid morning,4.150000,nan,nan,nan,nan,nan nan,nan nan,41.80,-87.60,41.79,-87.60,member,41.8 -87.6,41.79 -87.6,41.79,-87.60,41.80,-87.60,start
1,8FE8F7D9C10E88C7,electric_bike,2023-04-02,2023-04-02,Sunday,1,1900-01-01 08:37:28,1900-01-01 08:41:37,mid morning,4.150000,nan,nan,nan,nan,nan nan,nan nan,41.80,-87.60,41.79,-87.60,member,41.8 -87.6,41.79 -87.6,41.79,-87.60,41.80,-87.60,end
2,34E4ED3ADF1D821B,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 11:29:02,1900-01-01 11:52:12,late morning,23.166667,nan,nan,nan,nan,nan nan,nan nan,41.87,-87.65,41.93,-87.68,member,41.87 -87.65,41.93 -87.68,41.93,-87.68,41.87,-87.65,start
3,34E4ED3ADF1D821B,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 11:29:02,1900-01-01 11:52:12,late morning,23.166667,nan,nan,nan,nan,nan nan,nan nan,41.87,-87.65,41.93,-87.68,member,41.87 -87.65,41.93 -87.68,41.93,-87.68,41.87,-87.65,end
4,5296BF07A2F77CB5,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 08:41:22,1900-01-01 08:43:22,mid morning,2.000000,nan,nan,nan,nan,nan nan,nan nan,41.93,-87.66,41.93,-87.66,member,41.93 -87.66,41.93 -87.66,41.93,-87.66,41.93,-87.66,start
5,5296BF07A2F77CB5,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 08:41:22,1900-01-01 08:43:22,mid morning,2.000000,nan,nan,nan,nan,nan nan,nan nan,41.93,-87.66,41.93,-87.66,member,41.93 -87.66,41.93 -87.66,41.93,-87.66,41.93,-87.66,end
6,40759916B76D5D52,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 13:31:30,1900-01-01 13:35:09,afternoon,3.650000,W Armitage Ave & N Sheffield Ave,20254.0,nan,nan,W Armitage Ave & N Sheffield Ave nan,20254.0 nan,41.92,-87.65,41.91,-87.65,member,41.92 -87.65,41.91 -87.65,41.91,-87.65,41.92,-87.65,start
7,40759916B76D5D52,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 13:31:30,1900-01-01 13:35:09,afternoon,3.650000,W Armitage Ave & N Sheffield Ave,20254.0,nan,nan,W Armitage Ave & N Sheffield Ave nan,20254.0 nan,41.92,-87.65,41.91,-87.65,member,41.92 -87.65,41.91 -87.65,41.91,-87.65,41.92,-87.65,end
8,77A96F460101AC63,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 12:05:36,1900-01-01 12:10:26,afternoon,4.833333,nan,nan,nan,nan,nan nan,nan nan,41.91,-87.65,41.91,-87.63,member,41.91 -87.65,41.91 -87.63,41.91,-87.63,41.91,-87.65,start
9,77A96F460101AC63,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 12:05:36,1900-01-01 12:10:26,afternoon,4.833333,nan,nan,nan,nan,nan nan,nan nan,41.91,-87.65,41.91,-87.63,member,41.91 -87.65,41.91 -87.63,41.91,-87.63,41.91,-87.65,end

In [12]:
df1_duplicated['avg_lat'] = np.where(df1_duplicated.index % 2, df1_duplicated['avg_end_lat'], df1_duplicated['avg_start_lat'])

df1_duplicated['avg_lng'] = np.where(df1_duplicated.index % 2, df1_duplicated['avg_end_lng'], df1_duplicated['avg_start_lng'])

df1_duplicated['station_name'] = np.where(df1_duplicated.index % 2, df1_duplicated['end_station_name'], df1_duplicated['start_station_name'])

df1_duplicated.head(10)

,ride_id,rideable_type,start_date,end_date,weekday,weekend,start_time,end_time,time_of_day,duration,start_station_name,start_station_id,end_station_name,end_station_id,start_end_name,start_end_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_lat_lng,end_lat_lng,avg_end_lat,avg_end_lng,avg_start_lat,avg_start_lng,start_end,avg_lat,avg_lng,station_name
0,8FE8F7D9C10E88C7,electric_bike,2023-04-02,2023-04-02,Sunday,1,1900-01-01 08:37:28,1900-01-01 08:41:37,mid morning,4.150000,nan,nan,nan,nan,nan nan,nan nan,41.80,-87.60,41.79,-87.60,member,41.8 -87.6,41.79 -87.6,41.79,-87.60,41.80,-87.60,start,41.80,-87.60,nan
1,8FE8F7D9C10E88C7,electric_bike,2023-04-02,2023-04-02,Sunday,1,1900-01-01 08:37:28,1900-01-01 08:41:37,mid morning,4.150000,nan,nan,nan,nan,nan nan,nan nan,41.80,-87.60,41.79,-87.60,member,41.8 -87.6,41.79 -87.6,41.79,-87.60,41.80,-87.60,end,41.79,-87.60,nan
2,34E4ED3ADF1D821B,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 11:29:02,1900-01-01 11:52:12,late morning,23.166667,nan,nan,nan,nan,nan nan,nan nan,41.87,-87.65,41.93,-87.68,member,41.87 -87.65,41.93 -87.68,41.93,-87.68,41.87,-87.65,start,41.87,-87.65,nan
3,34E4ED3ADF1D821B,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 11:29:02,1900-01-01 11:52:12,late morning,23.166667,nan,nan,nan,nan,nan nan,nan nan,41.87,-87.65,41.93,-87.68,member,41.87 -87.65,41.93 -87.68,41.93,-87.68,41.87,-87.65,end,41.93,-87.68,nan
4,5296BF07A2F77CB5,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 08:41:22,1900-01-01 08:43:22,mid morning,2.000000,nan,nan,nan,nan,nan nan,nan nan,41.93,-87.66,41.93,-87.66,member,41.93 -87.66,41.93 -87.66,41.93,-87.66,41.93,-87.66,start,41.93,-87.66,nan
5,5296BF07A2F77CB5,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 08:41:22,1900-01-01 08:43:22,mid morning,2.000000,nan,nan,nan,nan,nan nan,nan nan,41.93,-87.66,41.93,-87.66,member,41.93 -87.66,41.93 -87.66,41.93,-87.66,41.93,-87.66,end,41.93,-87.66,nan
6,40759916B76D5D52,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 13:31:30,1900-01-01 13:35:09,afternoon,3.650000,W Armitage Ave & N Sheffield Ave,20254.0,nan,nan,W Armitage Ave & N Sheffield Ave nan,20254.0 nan,41.92,-87.65,41.91,-87.65,member,41.92 -87.65,41.91 -87.65,41.91,-87.65,41.92,-87.65,start,41.92,-87.65,W Armitage Ave & N Sheffield Ave
7,40759916B76D5D52,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 13:31:30,1900-01-01 13:35:09,afternoon,3.650000,W Armitage Ave & N Sheffield Ave,20254.0,nan,nan,W Armitage Ave & N Sheffield Ave nan,20254.0 nan,41.92,-87.65,41.91,-87.65,member,41.92 -87.65,41.91 -87.65,41.91,-87.65,41.92,-87.65,end,41.91,-87.65,nan
8,77A96F460101AC63,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 12:05:36,1900-01-01 12:10:26,afternoon,4.833333,nan,nan,nan,nan,nan nan,nan nan,41.91,-87.65,41.91,-87.63,member,41.91 -87.65,41.91 -87.63,41.91,-87.63,41.91,-87.65,start,41.91,-87.65,nan
9,77A96F460101AC63,electric_bike,2023-04-19,2023-04-19,Wednesday,0,1900-01-01 12:05:36,1900-01-01 12:10:26,afternoon,4.833333,nan,nan,nan,nan,nan nan,nan nan,41.91,-87.65,41.91,-87.63,member,41.91 -87.65,41.91 -87.63,41.91,-87.63,41.91,-87.65,end,41.91,-87.63,nan